.ant-upload-list-picture-card-container {
  height: unset; // fixes issue where text area gets squished
  width: 160px;
}

.ant-upload .ant-upload-select .ant-upload-select-picture-card {
  width: 100%;
}
