.List-Item:hover {
    background-color: #f0f0f0 !important; /* Change the background color when hovered */
    cursor: pointer !important; /* Change the cursor to a pointer on hover */
  }
  .ant-list-item:hover {
    background-color: #f0f0f0 !important; /* Change the background color when hovered */
    cursor: pointer !important; /* Change the cursor to a pointer on hover */

    box-shadow: 0 0 4px #eee;
  }